[Unit]
Description=Gunicorn instance to serve leaderboard
After=network.target

[Service]
User=geigle1
Group=www-data
WorkingDirectory=/home/geigle1/homework-ideas/competition
Environment="PATH=/home/geigle1/homework-ideas/competition/venv/bin"
ExecStart=/home/geigle1/homework-ideas/competition/venv/bin/gunicorn --bind unix:leaderboard.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
